body {
    font-family: 'Segoe UI', sans-serif;
    background-color:  rgb(255, 255, 255);
    padding : 20px;
    width : 300px;
    text-align : center;
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #272626;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #loader {
    margin-top: 10px;
    color: #555;
  }
  
  .hidden {
    display: none;
  }
  
  #result {
    font-weight: bold;
    margin-top: 10px;
    color: green;
  }
  
 